<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="images/nclrp-logo.jpg"/>

  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/site.webmanifest">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS -->
  <link rel="stylesheet" href="css/index.css">

  <!-- SEO -->
  <title>Northern County Life Roleplay</title>
  <meta name="description" content="The ultimate Gta V Rp server for Xbox. With a friendly community and daily Rp's there is never a moment that goes by without unique opportunities for roleplay.">
  <meta name="keywords" content="xbox roleplay, gta roleplay, nclrp, gta roleplay server">
  <meta name="author" content="Dylan Doherty">

</head>

<body class="bg-img">

  <div class="header">
    <a href="/" class="logo">NCLRP</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="https://discord.gg/XfmN7kW5Xg" target="_blank">Join</a>
      <a class="active" href="/about-us">About</a>
    </div>
  </div>

  <div class="main">
    <h1 class="title">About Us!</h1>
    <h2 class="subtitle">HOW WE FUNCTION.</h2>

    <div class="section">
      <div class="section-img">
        <img src="/images/GTA logo.jpg" alt="GTA Logo">
      </div>
      <div class="section-text left">
        <p>We have a Main Discord server as well as individual Department servers as well as some others. Within the game we use Zello as our radio communications and we have a variety of affordable (yet amazing) uniforms for each department!</p>
      </div>
    </div>

    <h2 class="subtitle subtitle-extra">WHAT OUTLIES US COMPARED TO OTHERS?</h2>

    <div class="section">
      <div class="section-text right">
        <p>We have a handpicked, well trained staff. We have trained them to the top notch and we only choose the best of the best. Besides staff, we have a developed economy system, a custom bot, a custom CAD/MDT and lastly a fully functional Judicial Court System! All of these factors have made us stand out compared to our "competition." In the end we are trying to make YOUR experience the best by us being the best!</p>
      </div>
      <div class="section-img">
        <img src="/images/nclrp-logo.jpg" alt="GTA Logo">
      </div>
    </div>

    <h2 class="subtitle subtitle-extra">PARTNERSHIPS</h2>

    <div class="section">
      <div class="section-img">
        <img class="circle" src="/images/sun-hands.jpg" alt="Sunset">
      </div>
      <div class="section-text left">
        <p>Skyline Development is a company that creates custom discord bots tailored to what the client wants. Whatever you need in a discord bot we can do it. We have affordable prices and we will be with you every step of the way. Even after your bot is complete you can always reach out to us for support. After the bot is completed we even have a partnered host (to keep your bot online 24/7 at extremely cheap prices) or you can host it yourself! With 100% customer satisfaction, we always ensure that the client's wants are met.</p>
      </div>
    </div>
    
  </div>

</body>

</html>