<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="images/nclrp-logo.jpg" />

  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
  <link rel="manifest" href="favicons/site.webmanifest">
  <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- CSS -->
  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/c4fcd4733d.js" crossorigin="anonymous"></script>

  <!-- SEO -->
  <title>Northern County Life Roleplay | Departments</title>
  <meta name="description"
    content="The ultimate Gta V Rp server for Xbox. With a friendly community and daily Rp's there is never a moment that goes by without unique opportunities for roleplay.">
  <meta name="keywords" content="xbox roleplay, gta roleplay, nclrp, gta roleplay server">
  <meta name="author" content="Dylan Doherty">

</head>

<body class="bg-img">

  <div class="header">
    <a href="/" class="logo">NCLRP</a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="https://discord.gg/XfmN7kW5Xg" target="_blank">Join</a>
      <a href="/about-us">About</a>
    </div>
  </div>

  <div class="middle-content">
    <div class="main">
      <h1 class="title">Our Departments!</h1>

      <h2 class="subtitle">CIVILIAN DEPARTMENT</h2>
      <div class="section">
        <div class="section-img">
          <img style="display: none;" id="civLogo" class="circle" src="/images/civ-logo.jpg" alt="Civ Logo">
          <img id="civLogoGif" class="circle" src="/images/civ-logo-gif.gif" alt="Civ Logo Gif">
        </div>
        <div class="section-text left">
          <p>Civilian Department (Civs), is where you can work jobs, get arrested, commit crimes...Everyday! This
            department is responsible for creating and doing scenes for Fire and LEO to have something to do! Here you
            will be paired (or be solo) to create some of the wildest (but realistic) scenes you can think of! Join The
            Civilian Department Today!</p>
        </div>
      </div>

      <h2 class="subtitle subtitle-extra">Northern County Sheriff's Office</h2>
      <div class="section">
        <div class="section-text right">
          <p>The Mission of the Northern County Sheriff's Office (NCSO) is to enforce the criminal and motor vehicle
            laws of the State of San Andreas and to conduct criminal investigations. The NCSO issues traffic citations
            and warnings, investigates accidents and completes criminal investigations.</p>
        </div>
        <div class="section-img">
          <img class="circle" src="/images/ncso-logo.jpg" alt="NCSO Logo">
        </div>
      </div>

      <h2 class="subtitle subtitle-extra">SAN ANDREAS FIRE RESCUE</h2>
      <div class="section">
        <div class="section-img">
          <img class="circle" src="/images/fire-logo.png" alt="NCSO Logo">
        </div>
        <div class="section-text left">
          <p>San Andreas Fire Rescue (SAFR), handles Fire related and EMS related calls. In this department it is vital
            you stay on top of the scenes, because a persons life is in your hands, in this position you have to
            understand basic emergency medical procedures, and if you don't we have a course for that! Unlike the other
            departments we have multiple (fancy) stations! Join Today!</p>
        </div>
      </div>
    </div>

    <div class="push"></div>
  </div>

  <footer class="footer">
    <div class="socials-group">
      <div>
        <a href="https://discord.gg/XfmN7kW5Xg" target="_blank">
          <i class="fa-brands fa-discord"></i>
        </a>
      </div>
      <div>
        <a href="https://instagram.com/northerncountyliferoleplay?igshid=YmMyMTA2M2Y=" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div>
        <a href="https://www.tiktok.com/@northerncountyliferp2022" target="_blank">
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
      <div>
        <a href="https://twitter.com/nclrp_xbox?s=21&t=7vgXcZkEaMyoEi_OAXsAQA" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </div>
    </div>
  </footer>

  <script>
    if (window.innerWidth < 768) {
      document.getElementById("civLogoGif").style.display = "none";
      document.getElementById("civLogo").style.display = "";
    }
  </script>
</body>

</html>