<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="images/nclrp-logo.jpg"/>

  <!-- CSS -->
  <link rel="stylesheet" href="css/index.css">

  <!-- SEO -->
  <title>Northern County Life Roleplay</title>
  <meta name="description" content="Northern County Life Roleplay, the best Xbox One GTA Online Roleplay server!">
  <meta name="keywords" content="xbox roleplay, gta roleplay, nclrp, gta roleplay server">
  <meta name="author" content="Dylan Doherty">

</head>

<body class="bg-img">

  <div class="header">
    <a href="/" class="logo">NCLRP</a>
    <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="https://discord.gg/XfmN7kW5Xg" target="_blank">Join</a>
      <a href="/about-us">About</a>
    </div>
  </div>

  <div class="main">
    <h1 class="title">Northern County Life Roleplay</h1>
    <h2 class="subtitle">Join the best Xbox One GTA Online Roleplay server!</h2>

    <div class="btn-group">
      <a href="https://discord.gg/XfmN7kW5Xg" target="_blank"><button>JOIN</button></a>
      <a href="/departments"><button>Departments</button></a>
      <a href="/about-us"><button>About Us</button></a>
    </div>


  </div>

</body>

</html>